@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

$font-family: 'Roboto', sans-serif;
$white_color: #FFF;
$black_color: black;
$black_hover: lighten($black_color,60%);
$white_hover: darken($white_color,60%);